<p id="notice"><%= notice %></p>
<p></p>
<p>
<br>
</br>
<br>
</br>
  <strong>Name:</strong>
  <%= @itemtest.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @itemtest.description %>
</p>
<% if @itemtest.image.attached? %>
        <td><%= image_tag @itemtest.image.variant(resize_to_fit: [200, 200]) %></td>
                <% else%>
                <%end%>
<p>
  <!-- <strong>User:</strong> -->
 <!-- <%= @itemtest.user_id %> -->
</p>

<h2>Reviews</h2>
<% @itemtest.reviews.each do |review| %>
<p>
<b>Review details:</b>
<%= review.details %>
</p>
<% end %>
<%= link_to 'Back', itemtests_path %> |
<%= link_to 'Edit Reviews', itemtest_reviews_path(@itemtest) %>

